<section class="painel">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>

      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="chegou('todo')">
        <div class="example-box" *ngFor="let item of todo" (click)="editar(item)" cdkDrag
          (cdkDragStarted)="informacao(item)">
          <div *ngIf="item.tipo===1">
            <div>
              {{item.nome}}- {{item.descricao}}
            </div>
            <div (click)="excluir(item.id);">excluir</div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Doing</h2>

      <div cdkDropList [cdkDropListData]="doing" class="example-list" (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="chegou('doing')">
        <div class="example-box" *ngFor="let item of todo" (click)="editar(item)" cdkDrag
          (cdkDragStarted)="informacao(item)">
          <div *ngIf="item.tipo===2">
            <div>
              {{item.nome}}- {{item.descricao}}
            </div>
            <div (click)="excluir(item.id);">excluir</div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="chegou('done')">
        <div class="example-box" *ngFor="let item of todo" (click)="editar(item)" cdkDrag
          (cdkDragStarted)="informacao(item)">
          <div *ngIf="item.tipo===3">
            <div>
              {{item.nome}}- {{item.descricao}}
            </div>
            <div (click)="excluir(item.id);">excluir</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="caixaDescricao">
  <button (click)="novo();" class="botaoNovo">novo</button>
  <div *ngIf="todo1">
    <div >
      <input class="caixaNome" type="text" placeholder="Nome da Tarefa" [(ngModel)]="todo1.nome">
    </div>
    <div >
      <textarea class="caixaTexto" type="text" cols="31" rows="10" placeholder="Descrição"  [(ngModel)]="todo1.descricao"></textarea>
    </div>
    <button (click)="cancelar();" class="botaoCancelar">Cancelar</button>

    <button (click)="salvar();" class="botaoSalvar">Salvar</button>

  </div>
</section>
